@font-face {
    font-family: 'Siyam Rupali ANSI';
    src: url('SiyamRupaliANSI.woff2') format('woff2'),
        url('SiyamRupaliANSI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

